# Tests
pytest/
*.pytest_cache/
.coverage
pytest-coverage.txt

# Cache
__pycache__/
*.pytest_cache/
*.egg-info/
.eggs/
*.pyc
*.egg-info

# node
node_modules/

# mics
*.pnpm-error.log
*.pnpm-debug.log
*.log
MUJOCO_LOG.TXT

# IDE
.vscode/
*.code-workspace
