# tests
pytest/
*.pytest_cache/
.coverage
pytest-coverage.txt

# cache
__pycache__/
*.pytest_cache/
*.egg-info/
.eggs/
*.pyc
*.egg-info
build/

# node
node_modules/

# misc
*.log
MUJOCO_LOG.TXT
TODOS.md

# IDE
.vscode/
*.code-workspace

# Validation files
cartPoleCost_translation_validation.csv
fetchReach_translation_validation.csv
halfCheetahCost_translation_validation.csv
minitaurCost_translation_validation.csv
oscillatorCost_translation_validation.csv
oscillatorCostComp_translation_validation.csv
swimmerCost_translation_validation.csv
stableGym_cartPoleCost_translation_validation.csv
stableGym_fetchReach_translation_validation.csv
stableGym_halfCheetahCost_translation_validation.csv
stableGym_minitaurCost_translation_validation.csv
stableGym_oscillatorCost_translation_validation.csv
stableGym_oscillatorCostComp_translation_validation.csv
stableGym_swimmerCost_translation_validation.csv
