# tests
pytest/
*.pytest_cache/
.coverage
pytest-coverage.txt

# cache
__pycache__/
*.pytest_cache/
*.egg-info/
.eggs/
*.pyc
*.egg-info
build/

# node
node_modules/

# misc
*.log
MUJOCO_LOG.TXT
TODOS.md

# IDE
.vscode/
*.code-workspace
