# Action used to update the major and minor tags automatically.
name: release
on:
  push:
    branches-ignore:
      - "**"
    tags:
      - "v*.*.*"

jobs:
  update-semver:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: haya14busa/action-update-semver@v1
        with:
          major_version_tag_only: true # (optional, default is "false")
